:root {
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #2e2f42;
  --color-main-text: #2e2f42;
  --color-secondary-text: #434455;
  --accent: #4d5ae5;
  --accent-pressed-state: #404bbf;
  --color-bg-team: #f4f4fd;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.page-header {
  display: flex;
  border-bottom: 1px solid #e7e9fc;
}
.nav-header {
    display: flex;
  align-items: center;
}
.logo-header-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  color: #4d5ae5;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration-line: none;
  text-transform: uppercase;
  margin-right: 76px;
}
.logo-header-link:focus {
  color: #404bbf;
}
.site-nav-list .link:hover {
  color: #404bbf;
}
.site-nav-list .link:focus {
  color: #404bbf;
}
.site-nav-list .link {
  color: #2e2f42;
  font-weight: 500;
}
.link {
  text-decoration-line: none;
}
.link:hover {
  color: #4d5ae5;
}
.link:focus {
  color: #4d5ae5;
}

.site-nav-address .contacts-link:hover,
.site-nav-address .contacts-link:focus {
  color: #404bbf;
}
.contacts-link {
  font-style: normal;
  text-decoration-line: none;
  color: #434455;
}
.hero {
  background-color: #2e2f42;
  padding: 188px 0;
}
.section-banner-title {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  max-width: 496px;
}
.btn-banner {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  background-color: #4d5ae5;
  letter-spacing: 0.04em;
  text-align: center;
  cursor: pointer;
  display: block; 
  min-width: 169px;
  height: 56px ;
  border: none;
  border-radius: 4px; 
}
.btn-banner:hover,
.btn-banner:focus {
  background-color: #404bbf;
}
.section-title {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 72px;
}

.features-list .card-title {
  font-weight: 500;
  font-size: 20px;
}

.section-title-team {
  background-color: #f4f4fd;
  padding: 120px 0;
}
.our-team-list {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
}
.card-title {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2em;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}
.section-team-text {
  color: #434455;
  text-align: center;
}
.section-footer {
  color: #4d5ae5;
  background-color: #2e2f42;
}
.section-footer .logo-header-link {
  color: #f4f4fd;
}
.footer-text {
  color: #f4f4fd;
}

.btn-nav {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-size: 16px;
  font-weight: 500;
  background-color: #f4f4fd;
  color: #4d5ae5;
  cursor: pointer;
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
}
.btn-nav:hover,
.btn-nav:focus {
  color: #ffffff;
  background-color: #404bbf;
  border: 1px solid transparent;
}
.nav-gallery {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.logo-name {
  color: #2e2f42;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.address-site {
    display: flex;
  font-style: normal;
  list-style: none;

}
.logo-footer-link {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration-line: none;
  text-transform: uppercase;
}
.logo-footer-port {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration-line: none;
  text-transform: uppercase;
}
.span-class {
  color: #f4f4fd;
}
img {
  display: block;
}
.site-nav-list{
  padding: 24px 0;
  display: flex;
  gap: 40px;
}
.site-nav-list li:last-child {
    margin-right: 0;
}
.our-team {
    display: flex;
    gap: 24px;
  }
  .our-team-list:last-child {
    margin-right: 0;
  }
  .team-member-info {
    padding: 32px 16px;
  }
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip-path: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
  .btn-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
  }
  .nav-gallery li {
    width: calc((100% - 48px) / 3);
  }
  .card-title {
    margin-bottom: 8px;
  }
  .container {
    width: 1158px;
  }
  .site-nav-address li {
    padding: 24px 0; 
    margin-right: 40px;
  }
  .site-nav-address li:last-child {
    margin-right: 0;
  }
  .footer-text {
    margin-bottom: 16px;
  }
  .logo-footer-port {
    display: inline-block; 
  }
  .section-footer {
    padding: 100px 0;
  }
  .section-nav-gallery {
    padding-top: 96px; 
    padding-bottom: 120px;
  }

  .page-header > .container {
    display: flex;
    margin: 0 auto;
    padding: 0 15px;
  }
  .site-nav-address {
    display: flex;
  }