:root {
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #2e2f42;
  --color-main-text: #2e2f42;
  --color-secondary-text: #434455;
  --accent: #4d5ae5;
  --accent-pressed-state: #404bbf;
  --color-bg-team: #f4f4fd;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.page-header {
  border-bottom: 1px solid #e7e9fc;
}
.nav-header {
  align-items: center;
  display: flex;
}
.logo-header-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  color: #4d5ae5;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration-line: none;
  text-transform: uppercase;
  margin-right: 76px;
}
.logo-header-link:focus {
  color: #404bbf;
}
.site-nav-list .link:hover {
  color: #404bbf;
}
.site-nav-list .link:focus {
  color: #404bbf;
}
.site-nav-list .link {
  color: #2e2f42;
  font-weight: 500;
}
.link {
  text-decoration-line: none;
}
.link:hover {
  color: #4d5ae5;
}
.link:focus {
  color: #4d5ae5;
}

.site-nav-address .contacts-link:hover,
.site-nav-address .contacts-link:focus {
  color: #404bbf;
}
.contacts-link {
  font-style: normal;
  text-decoration-line: none;
  color: #434455;
}
.hero {
  background-color: #2e2f42;
  padding: 188px 0;
}
.section-banner-title {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  max-width: 496px;
}
.btn-banner {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  background-color: #4d5ae5;
  letter-spacing: 0.04em;
  text-align: center;
  cursor: pointer;
  display: block; 
  min-width: 169px;
  height: 56px ;
  border: none;
  border-radius: 4px; 
}
.btn-banner:hover,
.btn-banner:focus {
  background-color: #404bbf;
}
.section-title {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  text-align: center;
}

.features-list .card-title {
  font-weight: 500;
  font-size: 20px;
}

.section-title-team {
  background-color: #f4f4fd;
}
.our-team-list {
  background-color: #ffffff;
}
.card-title {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2em;
  letter-spacing: 0.02em;
}
.section-team-text {
  color: #434455;
}
.section-footer {
  color: #4d5ae5;
  background-color: #2e2f42;
}
.section-footer .logo-header-link {
  color: #f4f4fd;
}
.footer-text {
  color: #f4f4fd;
}

.btn-nav {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-size: 16px;
  font-weight: 500;
  background-color: #f4f4fd;
  color: #4d5ae5;
  cursor: pointer;
}
.btn-nav:hover,
.btn-nav:focus {
  color: #ffffff;
  background-color: #404bbf;
}
.nav-gallery {
  list-style: none;
}
.logo-name {
  color: #2e2f42;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.address-site {
  font-style: normal;
  list-style: none;
}
.logo-footer-link {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration-line: none;
  text-transform: uppercase;
}
.logo-footer-port {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration-line: none;
  text-transform: uppercase;
}
.span-class {
  color: #f4f4fd;
}
img {
  display: block;
}
